.posts {
    margin-top: 3rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .recent {
        width: 67%;

        @include mq(md) {
          width: 100%;
        }
    }

    .sidebar {
        width: 30%;

        &-block {
          padding: 1.5rem 1rem;
          background: $white;
          margin-bottom: 1rem;
        }

        @include mq(md) {
          display: none;
        }
    }

}

.popular-post{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom:.6rem;

    img {
        display: block;
        width: 3.5rem;
    }

    p {
        margin: 0;
        font-family: $bzr;
        text-transform: uppercase;
    }

    &__text {
       margin-left: 1rem;
    }

    &__title {
        font-size: .9rem;
        font-weight: bold;
    }

    &__data {
        font-size: .8rem;
        font-weight: light;
    }
}

.post-category{

    &__link {
        font-size: .9rem;
        text-decoration: none;
        color: $text;
        display: block;
        margin-bottom: .6rem;

        &:hover {
           text-decoration: underline;
        }

        span {
            font-size: 0.5rem;
            padding-left: .2rem;
        }
    }
}

.main-post {

    &__img {

        img {

            @include mq(md) {
              display: block;
              margin: 0 auto;
              max-width: 100%;
            }
        }
    }
}
