@font-face {
  font-family: "Bazar";
  src: url("../fonts/Bazar/Bazar.otf");
}
$bzr: "Bazar";

@font-face {
  font-family: "Seaside-resort-nf";
  src: url("../fonts/Seaside-resort-nf/Seaside-resort-nf.otf");
}
$srnf: "Seaside-resort-nf";

@font-face {
  font-family: "oswald_regular";
  src: url("../fonts/Oswald/oswald_regular.ttf");
}
$osr: "oswald_regular";

@font-face {
  font-family: "oswald_bold";
  src: url("../fonts/Oswald/oswald_bold.ttf");
}
$osb: "oswald_bold";

@font-face {
  font-family: "roboto_slab_regular";
  src: url("../fonts/Roboto/roboto_slab_regular.ttf");
}
$rsr: "roboto_slab_regular";

@font-face {
  font-family: "roboto_slab_bold";
  src: url("../fonts/Roboto/roboto_slab_bold.ttf");
}
$rsb: "roboto_slab_bold";