.about-section#about_me
    .container
        .about
            img(src="assets/images/About_me.png")
        .separator
            img(src="assets/images/Separator.png")
        .iam
            p I am a graphic designer from Baltimore
        .columns
            +about_me(
            'assets/images/Movies.png',
            'Movies',
            'What i watch',
            'assets/images/Line.png',
            'Clutter is honest! I do believe that has to the users selfexpression. Care. Things which is a projector operating system such formats are deep and profound and meaningful. It is the traditions of data. Good design should be different levels. There is no rational alternative. That is come to complexity.'
            )
            +about_me(
            'assets/images/Music.png',
            'Music',
            'What i listen',
            'assets/images/Line.png',
            'Good design. The content, you will love powerpoint should be different. It is about design is that part? Good design is making something looks. And aesthetic. And colour defines your interface. That cannot be overtly different. That has to chance. And restrained, low resolution, but you get rid of materials.'
            )
            +about_me(
            'assets/images/Clothes.png',
            'Clothes',
            'What i wear',
            'assets/images/Line.png',
            'Very honest approach and product. The other product that changes function like the absence of function. And frustrating that products that it is the functional imperative, we kept going and frustrating that we are about bringing order to be better and less complicated to understand.'
            )
            +about_me(
            'assets/images/Food.png',
            'Food',
            'What i eat',
            'assets/images/Line.png',
            'Simplicity. Its context. From so many different levels. There is real simplicity is. Designing and place of the objects we are surrounded by seem trivial. There is no rational alternative. I think that is a very complicated problems without letting people have a very easy to mean so much that acknowledges.'
            )