.blog-section#my_blog
    .container
        .my-blog
            img(src="assets/images/My_blog.png")
        .separator
            img(src="assets/images/Separator.png")
        .news
            p News from my house
        .articles
            +article(
            'assets/images/Slider_img_1.jpg',
            'The Magic Wheel',
            'July 28, 2014',
            '// Admin // Fun, travel, trends',
            '1 response',
            'assets/images/Line.png',
            'It is not it to understand them in the objects we are playing. ' +
            'Products fulfilling a product more innovative, bullets grants, ' +
            'powerful or stay at every multivariate spacetime point of analysis. ' +
            'People have enormous serial correlation. Good design is derived from ' +
            'so deep and then there is no other product useful.',
            '#'
            )
            +article(
            'assets/images/Slider_img_2.jpg',
            'The lonely road',
            'July 28, 2014',
            '// Admin // Fun, travel, trends, web design',
            '3 responses',
            'assets/images/Line.png',
            'If you have studied design at all, you have probably encountered Lorem ' +
            'Ipsum placeholder text at some point. Anywhere there is text, but the ' +
            'meaning of that text is not particularly important, you might see Lorem Ipsum.',
            '#'
            )
            +article(
            'assets/images/Slider_img_3.jpg',
            'I love gasoline smell',
            'July 28, 2014',
            '// Admin // Fun, trends, web design',
            'No responses',
            'assets/images/Line.png',
            'Many of the content, and often about their precious turfpossessed selves ' +
            'and principles are shortcomings of seeing and colors to cover up a paucity ' +
            'of design. Zero out your interface. I think that are deep and profound indeed, ' +
            'these tasks and showing.',
            '#'
            )
        .blog-line
            img(src="assets/images/Portfolio_line.png")
        .show
            a(href="about:blank")
                p Show all posts