.portfolio-section#portfolio
    .container
        .portfolio
            img(src="assets/images/Portfolio.png")
        .separator
            img(src="assets/images/Separator.png")
        .simplicity
            p Simplicity is the ultimate sophistication
        .filters
            .filters__text
                p Filtered by
            .filters__img
                a(href="#design")
                    img(src="assets/images/Filter_design.png" class="#design")
                a(href="#logo")
                    img(src="assets/images/Filter_logo.png" class="#logo")
                a(href="#photography")
                    img(src="assets/images/Filter_photography.png" class="#photography")
                a(href="#poster")
                    img(src="assets/images/Filter_poster.png" class="#poster")
                a(href="#resources")
                    img(src="assets/images/Filter_resources.png" class="#resources")
                a(href="#retro")
                    img(src="assets/images/Filter_retro.png" class="#retro")
                a(href="#t-shirts")
                    img(src="assets/images/Filter_t-shirts.png" class="#t-shirts")
                a(href="#videos")
                    img(src="assets/images/Filter_videos.png" class="videos")
        .items
            .items__1
                .items__1__foto
                    img(src="assets/images/items__1__foto.svg")
                    .items__1__icon
                        img(src="assets/images/items__1__icon.svg")
                .items__1__text
                    p Galleries are funny
            img(src="assets/images/Item_2.png")
            img(src="assets/images/Item_3.png")
            img(src="assets/images/Item_4.png")
            img(src="assets/images/Item_5.png")
            img(src="assets/images/Item_6.png")
            img(src="assets/images/Item_7.png")
            img(src="assets/images/Item_8.png")
        .portfolio-line
            img(src="assets/images/Portfolio_line.png")
        .browse
            a(href="about:blank")
                p browse all

//
        div.abs-black
        div.header
            div.header-top
                div.container
                    a(href="" class="home")
                        img(src="http://unital-site.tattoo4ever.com.ua/assets/img/home.png" alt="")
                    img(src="http://unital-site.tattoo4ever.com.ua/assets/img/menu.png" class="mobile-button mobile-only" alt="")
                    div.menu
                        img(src="http://unital-site.tattoo4ever.com.ua/assets/img/close.png" class="menu-close mobile-only" alt="")
                        a(href="")
                            p О компании
                        a(href="")
                            p Лицензии
                        a(href="")
                            p Цены
                        a(href="")
                            p Интернет магазин
                        a(href="")
                            p Обучение
                        a(href="")
                            p Документы
                        a(href="")
                            p Блог
                        a(href="")
                            p Контакты