.slider-section
    .container
        .retro
            img(src="assets/images/Retro.png")
        .old-style
            img(src="assets/images/Old_style.png")
        .slider
            .slide
                .arrow
                    button(class="fa fa-arrow-left fa-2x")
                .foto
                    img(src="assets/images/Slider_img_1.jpg")
                .text
                    p Kodak
            .slide
                .arrow
                    i(class="fa fa-arrow-left fa-2x")
                .foto
                    img(src="assets/images/Slider_img_2.jpg")
                .text
                    p Canon
            .slide
                .arrow
                    i(class="fa fa-arrow-left fa-2x")
                .foto
                    img(src="assets/images/Slider_img_3.jpg")
                .text
                    p Sony
        .hello
            p "Hello, i am John Doe
        .welcome
            p welcome to retro, my wonderful theme"