include ./components/header
.main-cont
include ./components/slider-section
include ./components/about-section
include ./components/portfolio-section
include ./components/blog-section
include ./components/contact-section
